*, *::before, *::after {
    box-sizing: border-box;
}

:root {
    --cell-size: 120px
}

body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: center;
    align-content: center;
}

.cell {
    width: var(--cell-size);
   height: var(--cell-size);
   border: 1px solid black;
}

